.our-Cars {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  width: 100vw;
  height: 0vh;
  z-index: 4;
  padding: 50px;
  padding-top: 25px;
  background-color: white;
  transition: height 0.3s ease;
}

.our-Cars.active {
  visibility: visible;
  opacity: 1;
  height: 70vh;
}

.our-Cars nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 97%;
  width: fit-content;
  gap: 0;
  border-right: 1px solid rgb(216, 216, 216);
  padding-left: 10%;
}

.our-Cars nav ul {
  display: flex;
  flex-direction: column;
  height: 34%;
  width: 150px;
  gap: 35px;
  align-items: start;
}

.our-Cars nav ul li {
  display: flex;
  flex-direction: column;
  color: rgb(102, 102, 102);
  gap: 6px;
  cursor: pointer;
  padding-left: 15px;
}

.dropdown h1 {
  font-size: 20px;
}

.dropdown p {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

.offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 15px;
  gap: 5px;
  width: 150px;
}

.offer h1 {
  font-size: 12px;
  color: rgb(1, 145, 1);
}

.offer div {
  display: flex;
  align-items: center;
  color: rgb(51, 105, 185);
  font-size: 16px;
  list-style-type: none;
  cursor: pointer;
  

}
.offer li:hover {
  border-bottom: 1px solid rgb(51, 105, 185);
}

.our-Cars nav ul li.active {
  display: flex;
  flex-direction: column;
  color: rgb(102, 102, 102);
  gap: 6px;
}

.our-Cars .border.active {
  color: rgb(0, 0, 0);
  border-left: 0.18rem solid rgb(51, 105, 185);
  height: 72%;
}

.dropdown .active h1 {
  color: black;
}

.dropdown .active p {
  color: black;
}

.link {
  display: flex;
  align-items: center;
}

/* Shop and Owners link dropdown. */

.shop nav, 
.owners nav {
  display: flex;
  align-items: start;
  justify-content: center;
  height: 100%;
  gap: 80px;
  padding: 48px;
}

.shop nav ul, 
.owners nav ul {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 16px;
}

.shop,
.owners {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  width: 100vw;
  height: 0vh;
  z-index: 4;
  background-color: white;
  transition: height 0.3s ease;
}

.shop.active {
  visibility: visible;
  opacity: 1;
  height: 40vh;
}

.owners.active {
  visibility: visible;
  opacity: 1;
  height: 30vh;
}

.shop h3,
.owners h3 {
  margin: 0;
  font-size: 12px;
  color: rgb(102, 102, 102);
  font-weight: 500;
}

.shop a,
.owners a {
  font-size: 14px;
  color: black;
  font-weight: 600;
  padding: 0 !important;
}

.shop a.hover,
.owners a.hover {
  text-decoration: underline;
}