.cartItem {
  height: fit-content;
  width: 300px;
}

.add-To-Cart {
  width: 100% !important;
  border-radius: 5px !important;
}

.add-To-Cart:hover {
  color: black;
  border-color: black;

}

.add-To-Cart:active {
  transform: scale(0.9);
}

.cartItem h3 {
  font-weight: 100;
  color: rgb(102, 102, 102);
  margin: 0;
  cursor: pointer;
}