nav {
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.left {
  display: flex;
  align-items: start;
  width: 150px;
}

.left img {
  max-width: 100%;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.middle ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.middle li {
  margin: 0 16px;
}

li a {
  color: rgb(102, 102, 102);
}

li a:hover {
  color: rgb(0, 0, 0);
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  cursor: pointer;
}

li a:active {
  color: rgb(0, 0, 0);
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.right {
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: end;
}

.cart {
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .left {
    display: flex;
    justify-content: center;
   
  }

  .middle {
    position: fixed;
    top: 0;
    left: -100%; /* Start off-screen to the left */
    transition: left 0.4s ease; /* Apply transition to the left property */
    display: none;
    width: 100%;
    background-color: white; /* Adjust background color as needed */
    
  }

  .menu-open .middle {
    left: 0; /* Slide in from the left when menu is open */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
  }

  .menu-open {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(102, 102, 102, 0.95);
    display: flex;
    align-items: center;
    transition: transform 0.4s ease; /* Apply transition to the transform property */
  }

  .menu-open ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    top: 20%;
    gap: 20px;
  }

  .menu-open ul li a {
    color: white;
    font-size: 2rem;
  }

  .menu-open ul li a:hover {
    border: none;
  }

  .middle ul {
    list-style-type: none;
  }

  .middle li {
    margin-bottom: 10px;
  }

  .right {
    width: 50px;
  }

  .left {
    width: 100px;
  }
}
