/* ResponsiveSlider.css */

.container {
  display: flex;
  flex-direction: column;
  width: 1300px;
  position: relative;
  overflow: hidden;
}

ul {
  display: flex;
  height: 100%;
  list-style: none;
  left: 0;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all 0.75s ease;
}

@media (max-width: 1300px) {
  .container {
    max-width: 50vh;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 40vh;
  }
}

@media (max-width: 800px) {
  .container {
    max-width: 30vh;
  }
}


